/*** placeholder styles ***/
.header,
.profile,
.projects,
.skills,
.contact {
    border: dashed 2px red;
}

.profile-photo {
    width: 20%;
    height: 20%;
}

.unplugged,
.jubilee-austen {
    width:20%;
    height: 20%;
}

/*** header styles ***/
header nav {
    text-align: right;
}

ul {
    list-style: none;
    display: inline-block;
}

nav ul li {
    display: inline-block;
    padding: 10px;
}

header h1 {
    float: left;
}